div.listing section:nth-child(1) {
    /* border-top: 0; */
}
section.doctor h4 {
    /* margin-bottom:6px; */
    /* clear: both; */
}  
section.doctor {
    /* padding-top: 40px; */
    /* line-height: 20px; */
    /* clear: both !important; */
    /* display: inline-block; */
}
section.doctor div.row {
    margin-bottom:20px;
}
.weekcalendar p {
    display: inline-block;
}
#doctors-list {
    /* background-color: #f3f4f5; */
    /* padding: 10px; */
}
#map_canvas {
    height: 300px;
    width: 100%;
}
.listing {
    /*background-color: #f3f4f5;*/
}
a.break-post, a.break-pre {
    width: 100%;
}
#doctors-list h4 {
    text-transform: uppercase;
}
.weekdays a.btn {
    width: 52px;
}
.doctor img {
    max-width: 100%;
}
.weekdays .btn {
    width: 80px;
}